.svg-container {
    text-align: center;
    margin: 1rem;
}

.svg-container > svg {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;
}